html {
  box-sizing: border-box;
  background-color: #c9b5ab;
  font-family: Georgia, serif;
  line-height: 1.25;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

h1, h2 {
  color: #3f1622;
  font-family: "PT Sans", sans-serif;
}

h1 {
  font-size: 1.5rem;
}

p {
  color: #222;
  font-family: "PT Serif", serif;
}

nav {
  font-family: "PT Sans", sans-serif;
  font-size: 1.125rem;
  font-weight: normal;
}

nav a:hover {
  color: #3f1622;
  text-decoration: underline;
}

nav ol {
  list-style-type: none;
}

.intro {
  font-size: 1.25rem;
  font-weight: bold;
}

ol {
  list-style-type: lower-greek;
}

figcaption {
  font-style: italic;
  text-align: center;
}

blockquote p {
  font-size: 1.25rem;
  font-style: italic;
}

blockquote footer {
  font-size: .8rem;
}
