html {
  box-sizing: border-box;
  background-color: #c9b5ab;
  font-family: Georgia, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

h1, h2 {
  color: #3f1622;
  font-family: "PT Sans", sans-serif;
}

p {
  color: #222;
  font-family: "PT Serif", serif;
}

nav {
  font-family: "PT Sans", sans-serif;
  font-size: 1.125rem;
  font-weight: bold;
}

nav a {
  color: #8f2440;
  text-decoration: none;
}

nav a:hover {
  color: #3f1622;
  text-decoration: underline;
}

.intro {
  font-size: 1rem;
}

ol {
  list-style-type: lower-greek;
}
